.basket {
  display: flex;
  flex-direction: column;

  &__title {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: italic;
    font-size: 24px;

    color: var(--text);
  }
}
