@import '../../../../styles/vars';

.basket {
  width: 95%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  &__title {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-style: italic;
    font-size: 24px;

    color: $main-text-color;
  }

  &__product {
    cursor: pointer;
    width: 98%;
    display: flex;
    align-items: center;

    padding: 12px 15px;
    margin: 10px auto;

    gap: 15px;

    border-radius: 12px;
    background-color: $bg;
    //background: #c5c5c5;

    &--photo {
      max-width: 197px;
      height: 170px;

      img {
        width: 197px;
        height: 170px;
        border-radius: $radius;
      }
    }

    &_info {
      width: 50%;
      display: flex;
      flex-direction: column;

      text-align: justify;
      gap: 10px;

      color: $main-text-color;
      border-radius: $radius;

      &--title {
        text-align: left;

        font-family: 'Poetsen One', sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
      }

      &--sizes {
        display: flex;
      }
    }

    &_price {
      font-weight: 500;
      font-style: italic;
      font-size: 20px;
    }

    &--btns {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__order {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        background: #47a76a;

        border-radius: 8px;
      }

      &__trash {
        padding: 7px;
        background: $bg-sec;
        //background: #fff;
        color: $main-text-color;

        border-radius: 8px;
      }
    }
  }
}
