.shooes {
  width: 95%;
  display: gird;
  margin: 0 auto;

  &__product {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    padding: 12px 8px;
    gap: 8px;

    border-radius: 12px;
    background-color: var(--bg);

    &_carousel {
      max-width: 197px;
      height: 170px;
    }

    &_info {
      display: flex;
      flex-direction: column;

      text-align: justify;
      gap: 10px;

      &--title {
        text-align: left;

        font-weight: 500;
        font-size: 20px;
      }

      &--sizes {
        display: flex;
      }
    }

    &_price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--value {
        font-weight: 500;
        font-style: italic;
        font-size: 20px;
      }
    }
  }
}
