.shooes {
  display: flex;
  flex-direction: column;

  gap: 15px;

  &__product {
    width: 95%;
    display: flex;
    align-items: center;

    padding: 12px 15px;
    margin: 0 auto;

    gap: 15px;

    border-radius: 12px;
    background-color: var(--bg);

    &_carousel {
      max-width: 197px;
      height: 170px;
    }

    &_info {
      display: flex;
      flex-direction: column;

      text-align: justify;
      gap: 10px;

      &--title {
        text-align: left;

        font-weight: 500;
        font-size: 24px;
      }

      &--sizes {
        display: flex;
      }
    }

    &_price {
      font-weight: 500;
      font-style: italic;
      font-size: 20px;
    }
  }
}
