.filter {
  position: relative;
  width: 90%;

  margin: 50px auto;

  &__options {
    font-size: 20px;
    color: var(--text);

    margin-bottom: 20px;

    &--lable {
      display: grid;
      color: var(--text);
    }

    &--select {
      cursor: pointer;

      padding: 10px 30px 10px 10px;

      border-radius: 9px;

      font-weight: 400;

      background: var(--bg-sec);
    }

    &_price {
      display: flex;
      margin-top: 30px;
      gap: 10px;

      &--input {
        width: 50%;
        padding: 10px 5px;

        outline: none;
        border-radius: 9px;

        color: var(--text);
        background: var(--bg-sec);
      }
    }
  }

  &__btn {
    cursor: pointer;
    position: fixed;
    right: 0;
    padding: 8px 8px;
    background: var(--bg-sec);
    color: var(--text);
    border-radius: 8px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
