@import "../../../../styles/vars";

.filter {
  position: relative;
  width: 90%;

  margin: 60px auto;

  &__options {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    padding-right: 10px;

    font-size: 20px;

    background: $bg-sec;
    border-radius: 9px;
    // background: #fff;

    &--arrow {
      color: $main-text-color;
    }

    &--select {
      width: 100%;
      cursor: pointer;

      padding: 10px 30px 10px 20px;

      font-weight: 400;
      outline: none;
      border-radius: 9px;
      background: none;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

    }

    &--select option {
      color: $main-text-color;
      background-color: $bg-sec;
    }

    &--price {
      display: flex;
      flex-direction: column;
      gap: 5px;

      padding: 5px 20px;
      background: $bg-sec;

      border-radius: 9px;

      &__label {
        margin: 10px 0;
        font-family: 'Rubik', sans-serif, serif;
        font-size: 20px;
      }

      &__container {
        display: flex;
        justify-content: space-between;

        margin-bottom: 15px;

        span {
          padding: 8px;
          background: $bg;

          border-radius: 9px;
        }
      }
    }
  }

  &__error {
    opacity: 0.7;
    font-size: 15px;
    color: $err;
  }

  &__btn {
    cursor: pointer;

    width: 90%;
    position: fixed;
    bottom: 5%;

    padding: 15px 0;

    background: $bg-sec;
    // background: #fff;
    color: $main-text-color;
    border-radius: 8px;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiSlider-rail {
  background-color: $bg !important;
  height: 5px !important;
}

.MuiSlider-track {
  height: 5px !important;
}

.MuiSlider-thumb,
.MuiSlider-track {
  background-color: $main-text-color !important;
}

.MuiSlider-thumb {
  width: 15px !important;
  height: 15px !important;
}

.PrivateValueLabel-circle-4 {
  background-color: $main-text-color !important;
}

.PrivateValueLabel-label-5 {
  font-family: 'Rubik', sans-serif, serif;
  color: $bg !important;
}

