@import "../../styles/vars";

.error__container {
  position: fixed;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  font-family: "Poetsen One", sans-serif;
  line-height: 30px;
  color: $main-text-color;

  &--title {
    font-size: 32px;
  }

  &--text {
    width: 60%;
    font-family: "Rubik", sans-serif;
    font-size: 22px;

    span {
      font-family: "Poetsen One", sans-serif;
    }
  }

}

.qr {
  padding: 10px;
  background-color: $bg-sec;
}

@media (max-width: 992px) {
  .error__container {
    &--title {
      font-size: 26px;
    }

    &--text {
      width: 100%;
      font-size: 18px;
      line-height: 20px;
    }
  }

}
