// NOTE: BG_COLORS
$bg: var(--tg-theme-bg-color);
$bg-sec: var(--tg-theme-secondary-bg-color);
$section-bg: var(--tg-theme-section-bg-color);

// NOTE: TEXT_CLOLORS
$main-text-color: var(--tg-theme-text-color);
$err: #e74c4c;

$radius: 12px;