@import '../../styles/vars';

.main {
  &__close {
    width: 95%;
    cursor: pointer;
    outline: none;

    font-size: 18px;
    color: $bg;
  }

  &__search {
    display: flex;
    flex-direction: column;

    gap: 10px;

    &_container {
      position: relative;
      width: 95%;

      display: flex;
      margin: 0 auto;

      gap: 8px;

      border-radius: 8px;

      &--input {
        width: 100%;
        display: flex;
        gap: 5px;

        &_text {
          font-size: 16px;
          outline: none;

          background-color: $bg;
        }

        &:has(input:focus) {
          box-shadow: 0 0 120px $main-text-color;
        }
      }

      &--input,
      &--filter {
        background: $bg;
        color: $main-text-color;

        padding: 10px;

        border-radius: 9px;
      }
    }

    &_filters {
      width: 95%;
      display: flex;
      flex-wrap: wrap;

      margin: 0 auto;
      gap: 10px;

      &--item {
        display: flex;
        align-items: center;

        gap: 4px;
        padding: 2px 10px;

        background-color: $bg;
        border-radius: 8px;
      }
    }
  }

  &__btn {
    width: 95%;
    display: flex;
    margin: 10px auto;
    gap: 20px;

    &-item {
      width: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px 0;

      gap: 12px;
      border-radius: 8px;

      background-color: $bg;
      // background-color: #fff;

      transition: transform 0.3s ease;

      &:focus,
      &.active {
        transform: scale(1.05);

        background-color: $main-text-color;
        color: $bg;
      }
    }
  }

  &__carousel {
    max-width: 410px;
    height: 250px;

    display: flex;
    margin: 15px auto;
    align-items: center;

    background-color: $bg;
    border-radius: 60px 25px 60px 25px;

    &--item {
      max-width: 280px;
      margin-bottom: 60px;
    }

    &--tshirt {
      max-width: 250px;
      margin-top: 30px;
    }
  }
}

.arrow_up {
  position: fixed;
  cursor: pointer;

  bottom: 4%;
  right: 4%;

  background: $bg;
  //background: #fff;
  color: $main-text-color;

  border-radius: $radius;
}
