.main {
  &__close {
    cursor: pointer;
    outline: none;

    font-size: 18px;
    color: var(--bg);
  }

  &__search {
    &--input,
    &--filter {
      background: var(--btn);
      color: var(--text);

      // box-shadow: 2px 2px 2px var(--text);
      border-radius: 9px;
    }
  }
}
