.card {
  display: grid;
  color: var(--text);

  margin: 50px auto;

  &__info {
    display: grid;
    gap: 10px;

    &--carusel {
      max-width: 80%;
      height: auto;

      display: flex;
      margin: 15px auto;
      align-items: center;

      background-color: var(--bg);

      border-top-left-radius: 60px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 60px;
    }

    &--text {
      width: 80%;
      margin: 20px auto;
      text-align: center;

      &_title {
        font-weight: 500;
        font-size: 28px;
      }

      &__price {
        font-size: 24px;
        font-weight: 600;
        font-style: italic;
      }
    }

    &--sizes {
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;

      color: var(--text);
      background: var(--bg);

      border-radius: 8px;
    }

    &--btns {
      display: flex;
      width: 80%;
      align-items: center;
      justify-content: space-between;

      gap: 20px;

      margin: 0 auto;

      &_basket,
      &_order {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        border-radius: 8px;
      }

      &_basket {
        background: #ffb02e;
      }

      &_order {
        background: #47a76a;
      }
    }

    &__subtitle {
      width: 80%;

      margin: 0 auto;
      padding: 10px 10px;

      background: var(--bg);
    }
  }
}
