.header {
  position: relative;
  width: 95%;

  margin: 5px auto 0 auto;

  z-index: 1000;

  &__error {
    margin-top: 10px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--btn {
      display: flex;
      align-items: center;

      gap: 6px;
    }
  }

  &__logo {
    font-family: 'Poetsen One', sans-serif;
    font-size: 20px;
  }

  &__load {
    display: flex;
    align-items: center;
    gap: 2px;

    &--emoji {
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__basket {
    display: flex;
    align-items: center;

    &--count {
      padding-top: 24px;
      font-style: italic;
      font-size: 20px;
    }
  }
}
