.header {
  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 14px 9px;

    &--btn {
      display: flex;
      align-items: center;

      gap: 6px;
    }
  }

  &__logo {
    font-size: 22px;
    font-weight: 400;

    color: var(--text);
    box-shadow: 0 0 120px var(--text);

    transition: color 0.3s ease;

    &:hover {
      color: var(--bg);
    }
  }

  &__load {
    display: flex;
    align-items: center;
    gap: 2px;

    &--emoji {
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__basket {
    display: flex;
    align-items: center;

    &--count {
      padding-top: 24px;
      font-style: italic;
      font-size: 20px;
    }
  }
}
