@import '../../styles/vars';

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: auto 10px 0 10px;
  padding: 10px 0;

  font-family: 'Poetsen One', sans-serif;
  color: $main-text-color;
  background: $bg;

  border-radius: $radius;

  &__info {
    display: flex;
    flex-direction: column;

    text-align: left;

    font-family: 'Rubik', sans-serif, serif;

    gap: 5px;
  }
}