@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: var(--tg-theme-bg-color);
  --bg-sec: var(--tg-theme-secondary-bg-color);
  --text: var(--tg-theme-text-color);
  --btn: var(--tg-theme-button-color);
  --btn-text: var(--tg-theme-button-text-color);
}

body {
  background: var(--bg-sec);
  color: var(--text);

  font-family: 'Rubik', sans-serif;
}
