.profile {
  width: 80%;
  display: flex;
  flex-direction: column;

  margin: 50px;

  gap: 20px;

  &__username {
    font-weight: 500;
    font-size: 24px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &--stat {
      display: flex;
      gap: 20px;

      &_container {
        width: 50%;

        &-info {
          display: flex;
          align-items: center;
          gap: 10px;

          padding: 5px 0 5px 10px;

          background: var(--bg-sec);
          border-radius: 8px;
        }
      }
    }

    &--line {
      color: var(--text);
    }

    &--subtitle {
      font-weight: 500;
      font-size: 20px;
    }

    &--user {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_container {
        display: flex;
        align-items: center;

        gap: 10px;
      }
    }
  }

  &__load {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.border_bottom {
  border-bottom: 1px solid var(--text);
}
